<!DOCTYPE html>
<html>
<head>
    <title>Gimnasio FitPower</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="navbar">
    <h2>FitPower</h2>
    <div>
        <a href="/login">Login</a>
        <a href="/registro">Registro</a>
    </div>
</div>

<div class="hero">
    <div class="card">
        <h1>Gimnasio FitPower</h1>
        <p>Reserva tus clases de forma rápida, sencilla y desde cualquier dispositivo.</p>

        <a class="btn-link" href="/login">Iniciar sesión</a>
        <a class="btn-link secondary" href="/registro">Crear cuenta</a>
    </div>
</div>

</body>
</html>