<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Reservas</title>
</head>
<body>
<div class="navbar">
    <h2>FitPower</h2>
    <div>
        <span>Bienvenido, <b th:text="${usuario.nombre}"></b></span>
        <a class="logout" href="/logout">Cerrar sesión</a>
    </div>
</div>

<div class="hero">
    <div class="card">
        <h2>Reservar clase</h2>
        <p>Elige actividad, fecha y hora.</p>

        <form action="/reservas/guardar" method="post" th:object="${reserva}">
            <input type="text" th:field="*{actividad}" placeholder="Actividad" required>
            <input type="date" th:field="*{fecha}" required>
            <input type="time" th:field="*{hora}" required>
            <button type="submit">Reservar</button>
        </form>
    </div>
</div>

<div class="table-container">
    <h2>Mis reservas</h2>

    <table>
        <tr>
            <th>Actividad</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Acción</th>
        </tr>

        <tr th:each="r : ${reservas}">
            <td th:text="${r.actividad}"></td>
            <td th:text="${r.fecha}"></td>
            <td th:text="${r.hora}"></td>
            <td>
                <a th:href="@{'/reservas/cancelar/' + ${r.idReserva}}">Cancelar</a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>