<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reseñas</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div class="navbar">
    <h2 class="logo-title">
        <img src="/img/logo.png" alt="Logo">
        FitPower
    </h2>
    <div>
        <a href="/reservas"><i class="fa-solid fa-calendar-check"></i> Reservas</a>
        <a class="logout" href="/logout">Cerrar sesión</a>
    </div>
</div>

<div class="hero">
    <div class="card">
        <h2><i class="fa-solid fa-star"></i> Reseñas del gimnasio</h2>
        <p>Deja tu opinión sobre FitPower</p>


        <form action="/resenas/guardar" method="post" th:object="${resena}">


            <textarea th:field="*{comentario}" placeholder="Escribe tu reseña..."
                      rows="4" style="width:100%; padding:10px; border-radius:10px;" required></textarea>


            <label>Valoración:</label>
            <select th:field="*{puntuacion}">
                <option value="5">★★★★★</option>
                <option value="4">★★★★☆</option>
                <option value="3">★★★☆☆</option>
                <option value="2">★★☆☆☆</option>
                <option value="1">★☆☆☆☆</option>
            </select>

            <button type="submit">
                <i class="fa-solid fa-paper-plane"></i> Publicar reseña
            </button>

        </form>
    </div>
</div>


<div class="table-container">
    <h2>Opiniones</h2>

    <div th:each="r : ${resenas}">
        <p>
            <span th:each="i : ${#numbers.sequence(1, r.puntuacion)}">★</span>
            - <span th:text="${r.comentario}"></span>
        </p>
    </div>

</div>

</body>
</html>